<h2>New post:</h2>

<form action="/new" method="POST">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Создайте новый пост</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>

  <button type="submit" class="btn btn-dark">Отправить</button>
</form>